body{
    font-family:sans-serif;
    background-color: antiquewhite;
}
.card-img-top{
    box-shadow: 0 2px 2px  3px rgba(0,0,0,0.5);
}
.card-body{
    box-shadow: 0  2px 2px 3px rgba(0,0,0,0.5);
    text-align: center;
}
.card-body h6{
    text-transform: uppercase;
    font-size: 28px;
    color: deepskyblue;
}
.card-tittle{
    font-size: 30px;
    text-transform: capitalize;
}
.social a{
width: 10%;
height: 20%;
display: inline-block;
background-color:red;
border-radius: 50%;
color: bisque;
}
.social{
    padding: 20px;
}
.social a:hover{
    background-color: aqua;
    color: white;
}